 
  <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.good}}" placeholder="Название" name="good">
            <label for="floatingInput">Название</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="number" min="1" max="20" class="form-control" id="floatingInput" value="{{this.quantity}}" placeholder="Количество" name="quantity">
            <label for="floatingInput">Количество</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="url" class="form-control" id="floatingInput" value="{{this.link}}" placeholder="Ссылка" name="link">
            <label for="floatingInput">Ссылка</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInput" value="{{this.from}}" placeholder="С" name="from">
            <label for="floatingInput">С</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInput" value="{{this.before}}" placeholder="До" name="before">
            <label for="floatingInput">До</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>