 
  <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.surname}}" placeholder="Фамилия" name="surname">
            <label for="floatingInput">Фамилия</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Имя" name="name">
            <label for="floatingInput">Имя</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.patname}}" placeholder="Отчество" name="patname">
            <label for="floatingInput">Отчество</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.location}}" placeholder="Город" name="location">
            <label for="floatingInput">Город</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="Логин" name="email">
            <label for="floatingInput">Логин</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" value="{{this.password}}" placeholder="Password" name="password">
            <label for="floatingPassword">Пароль</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>