<div class="row" style="padding-top: 80px;">
{{#if removedMessage}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
{{removedMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
    <div class="col-12"><h1>Управление заказами</h1></div>
</div>


<table class="table table-boarded">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Автор</th>
      <th scope="col">Товар</th>
      <th scope="col">Количество</th>
      <th scope="col">Ссылка на товар</th>
      <th scope="col">Дата оформления заказа</th>
      <th scope="col">Желаемая дата доставки</th>
      <th scope="col">Статус</th>
      <th scope="col" class="text-end">Действия</th>
    </tr>
  </thead>
<tbody>
    {{#each orders}}<tr>
        <td><a href="/dashboard/vieworder/{{this.author_id}}">{{this.email}}</a></td>
        <td>{{this.good}}</td>
        <td>{{this.quantity}}</td>
        <td><a href="{{this.link}}">{{this.link}}</a></td>
        <td>{{formatDate this.creation_date}}</td>
        <td>{{formatDate this.arrival_date}}</td>
        <td>{{this.status}}</td>
        <td class="text-end">
            <a href="/manageorders/editorderadmin/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Изменить</a>
            <a href="/manageorders/deleteorderadmin/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-trash"></i>Завершить</a>
        </td>
    {{/each}}
</tbody>
</table>
<div class="pagination center">
  {{#if prevPage}}
    <a href="/manageorders?page={{prevPage}}">«</a>
  {{/if}}
    {{#each pages}}
        {{#if isCurrent}}
            <a class="active" href="/manageorders?page={{number}}">{{number}}</a>
        {{else}}
            <a href="/manageorders?page={{number}}">{{number}}</a>
        {{/if}}
    {{/each}}
  {{#if nextPage}}
    <a href="/manageorders?page={{nextPage}}">»</a>
  {{/if}}
</div>




