<div style="padding-top: 60px;">
<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.surname}} {{this.name}} {{this.patname}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Город</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.surname}}</th>
            <td>{{this.name}}</td>
            <td>{{this.patname}}</td>
            <td>{{this.location}}</td>
            <td>{{this.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/each}}
</div>
</div>